**/.gradle
**/.DS_Store
**/build
#
# ignore eclipse specific files
**/.project
**/.settings
**/.classpath
**/bin/
#
# ignore idea specific files
**/.iml
**/.idea
**/out/
# ignore real files as template files exist
**/gradle.properties